.index_header {
  padding: 10px 0;
}

.integral {
  position: relative;
  width: 38%;
}

.integral span.integral_lable {
  width: 15px;
  background: red;
  display: block;
  line-height: 1.1;
}

.integral span.integral_num {
  float: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
