@charset "UTF-8";
/*
  样式规范表
*/
.again {
  background-color: #BC9C6A;
  color: #ffffff;
  border: none;
}

.again:focus,
.again:hover {
  color: #fff !important;
  text-decoration: none;
}

.index_header {
  position: relative;
}

.index_header .mine {
  height: 35px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index_header .mine .header-left img {
  display: inline-block;
  width: 26px;
  margin-top: -2px;
}

.index_header .mine .header-left a {
  letter-spacing: 0.49px;
  color: #272A33;
}

.index_header .mine .header-right {
  position: relative;
}

.index_header .mine .header-right span {
  position: absolute;
  right: 0px;
  top: -3px;
  width: 8px;
  height: 8px;
  background-color: #f00;
  color: #ffff;
  border-radius: 8px;
}

.index_header .mine .header-right img {
  width: 20px;
}

.index_header .integral {
  border-right: 1px solid #ffffff;
}

.index_header .integral div.integral_lable {
  padding: 0;
  width: 15px;
  display: block;
  line-height: 1.3;
  color: #333333;
  font-size: 12px;
}

.index_header .integral div.integral_num {
  color: #333333;
  font-size: 24px;
  padding: 0;
}

.index_header .mine_btn {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control .glyphicon {
  top: 50%;
  transform: translateY(-50%);
}

.list_box {
  padding-bottom: 50px;
}

.list {
  margin-top: 18px;
  padding-bottom: 10px;
}

.list a {
  height: 100%;
  display: block;
}

.list .list_title_box {
  margin-bottom: 10px;
}

.list .list_title h3 {
  font-size: 16px;
  font-weight: bold;
  display: inline;
  color: #272A33;
}

.list .open_btn {
  color: #9397A8;
  font-size: 12px;
}

.list .list_group .list_li {
  box-sizing: border-box;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  padding-right: 0;
}

.list .list_group img {
  display: block;
  width: 100%;
  height: 100%;
}

.list .list_group .list_txt {
  position: absolute;
  bottom: 0px;
  left: 25px;
  color: #ffffff;
}

.list .list_group .list_txt h3 {
  font-size: 13px;
}

.list .list_group .list_txt p {
  font-size: 11px;
}

.list .list_group .live {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 50px;
  height: 16px;
  font-size: 11px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 6px;
}

.list .media-wrapper .media {
  border-bottom: 1px solid #e5e5e5;
}

.list .media-wrapper .media-heading {
  font-size: 15px;
  color: #272A33;
  letter-spacing: 0.49px;
  margin-bottom: 6px;
}

.list .media-wrapper .media-body {
  font-size: 13px;
  color: #808080;
  width: 70%;
}

.list .media-wrapper .media-right {
  border-radius: 8px;
  padding: 0 0 8px 5px;
  width: 30%;
}

.list .media-wrapper .media-right img {
  width: 100%;
  padding-left: 2px;
}

.list .media-wrapper .media-author {
  margin: 10px 0;
  color: #999;
  font-size: 12px;
}

.list .media-wrapper .media-author span {
  margin-left: 10px;
}

.list .list_module {
  padding-bottom: 10px;
  background: #F7F8F9;
}

.list .list_module .list_pic {
  width: 100%;
}

.list .small_title {
  font-size: 14px;
  color: #272A33;
  margin-top: 12px;
}

.list .article_info {
  font-size: 11px;
  color: #9397A8;
  margin-top: 10px;
}

.list .meeting {
  background: #FFF;
}

.list .meeting a {
  text-decoration: none;
}

.list .meeting a .meet-header span {
  background-image: linear-gradient(180deg, #DBC896 0%, #CCAC6C 100%);
  border-radius: 4px 4px 0 4px;
  padding: 3px 4px;
  color: #ffffff;
}

.list .meeting a .meet-header h3 {
  display: inline;
}

.list .meeting .author {
  margin-left: 20px;
}

.footer_tap {
  box-shadow: 2px 2px 5px 0 rgba(153, 153, 153, 0.5);
  background: #ffffff;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 7px;
}

.footer_tap .item {
  flex: auto;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.footer_tap .item a {
  color: #666666;
  font-size: 10px;
  text-decoration: none;
}

.footer_tap .item a img {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

.footer_tap .study_btn a {
  display: block;
  height: 50px;
  margin: 0 auto;
  color: #2295E7;
  font-size: 10px;
  text-decoration: none;
}

.footer_tap a:focus,
.footer_tap a:hover {
  color: #666666;
  text-decoration: none;
}
