@charset "UTF-8";
/*
  样式规范表
*/
.again {
  background-color: #B59F87;
  color: #ffffff;
  border: none;
}

.again:focus,
.again:hover {
  color: #fff !important;
  text-decoration: none;
}

.index_header {
  padding: 15px 0;
  position: relative;
}

.index_header.body_bgcolor {
  background-color: #F5F5F5;
  border-bottom: 1px solid #cccccc;
}

.index_header .mine {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.index_header .integral {
  border-right: 1px solid #ffffff;
}

.index_header .integral div.integral_lable {
  padding: 0;
  width: 15px;
  display: block;
  line-height: 1.2;
  color: #ffffff;
  font-size: 12px;
}

.index_header .integral div.integral_num {
  color: #ffffff;
  font-size: 24px;
  padding: 0;
}

.index_header .mine_btn {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.determine {
  display: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 0;
  background-color: #B59F87;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 8px;
}

.topic_type {
  position: relative;
  padding-left: 15px;
  font-size: 20px;
}

.topic_type:after {
  content: "";
  width: 4px;
  height: 20px;
  background: #B59F87;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.topic_txt {
  text-indent: 2em;
  letter-spacing: 2px;
  color: #333333;
  font-size: 16px;
}

.select_li.active .input-group {
  background: #B59F87;
}

.select_li.active .input-group input {
  color: #FFFAF7;
  font-weight: 500;
}

.select_li .input-group {
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  background: #F5F5F5;
  width: 84%;
}

.select_li .input-group input {
  background: none;
  outline: none;
  border: none;
  text-indent: 2px;
  box-shadow: none;
  color: #333333;
}

.select_li .input-group input:focus {
  border: 0;
  outline: none;
}

.select_box {
  margin-top: 20px;
}

.select_box .form-control:focus {
  box-shadow: none;
}

.select_box .select_li {
  margin-bottom: 15px;
}

.select_box .select_li input:focus {
  outline: none;
}

.topic_box {
  padding: 20px 0 10px;
}

.topic_box .topic .topic_header {
  position: relative;
}

.topic_box .topic .topic_header .num_page {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
}

.topic_box .topic .topic_type {
  font-size: 16px;
  color: #333333;
  font-weight: 600;
  margin-top: 0;
}

.topic_box .topic .topic_txt {
  font-size: 18px;
  line-height: 1.7;
}

.topic_box .topic .topic_txt input {
  background: none;
  outline: none;
  border: none;
  border: 1px solid #999999;
  margin: 0 3px;
  width: 27px;
  height: 27px;
  text-align: center;
}

.topic_box .topic .topic_txt input:focus {
  outline: none;
}

.Answer {
  float: right;
  margin-top: 10px;
  width: 100px;
  height: 20px;
  color: #333333;
  font-size: 16px;
  background: url("../img/Answer.png") no-repeat;
  background-size: auto 100%;
  padding-left: 24px;
}

video {
  object-fit: cover;
  outline: none;
  width: 100%;
  height: 100%;
}

.resolve {
  display: none;
}

.modal-dialog {
  margin-top: 39%;
}

.btn-quit {
  width: 30%;
}
