.msg .msg-header {
  padding: 10px 0;
  position: relative;
  font-size: 17px;
  color: #272A33;
}

.msg .msg-header .go-back span {
  vertical-align: -2px;
}

.msg .msg-header .title {
  text-align: center;
}

.msg .grey {
  height: 4px;
  width: 100%;
  background: #F5F5F5;
}

.msg .item {
  display: flex;
}

.msg .item .icon {
  padding: 10px 0;
  width: 36px;
  height: 36px;
}

.msg .item .icon img {
  margin-top: 2px;
  width: 100%;
}

.msg .item .wrap {
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 0;
  padding-left: 10px;
  box-sizing: border-box;
}

.msg .item .item-top {
  display: flex;
  justify-content: space-between;
}

.msg .item .item-top .type-name {
  font-size: 15px;
  color: #272A33;
}

.msg .item .item-top .time {
  font-size: 12px;
  color: #999999;
}

.msg .item .item-desc {
  font-size: 13px;
  color: #808080;
}
