@charset "UTF-8";
/*
  样式规范表
*/
.again {
  background-color: #BC9C6A;
  color: #ffffff;
  border: none;
}

.again:focus,
.again:hover {
  color: #fff !important;
  text-decoration: none;
}

.index_header {
  position: relative;
}

.index_header .mine {
  height: 35px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.index_header .mine .header-left img {
  display: inline-block;
  width: 26px;
  margin-top: -2px;
}

.index_header .mine .header-left a {
  letter-spacing: 0.49px;
  color: #272A33;
}

.index_header .mine .header-right {
  position: relative;
}

.index_header .mine .header-right span {
  position: absolute;
  right: 0px;
  top: -3px;
  width: 8px;
  height: 8px;
  background-color: #f00;
  color: #ffff;
  border-radius: 8px;
}

.index_header .mine .header-right img {
  width: 20px;
}

.index_header .integral {
  border-right: 1px solid #ffffff;
}

.index_header .integral div.integral_lable {
  padding: 0;
  width: 15px;
  display: block;
  line-height: 1.3;
  color: #333333;
  font-size: 12px;
}

.index_header .integral div.integral_num {
  color: #333333;
  font-size: 24px;
  padding: 0;
}

.index_header .mine_btn {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.list_box {
  margin-top: 30px;
}

.list_box .wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.list_box .row {
  margin: 0;
}

.list_box .row .col-xs-6 {
  width: 46%;
  background: #F3FAFF;
  border-radius: 4px;
  padding-right: 0;
  border: 1px solid #ccc;
}

.list_box .row .col-xs-6:nth-child(2) {
  background: #F4FFFD;
}

.list_box .row .col-xs-6:nth-child(2) i::before {
  background: url("../img/icon/icon_05.jpg") no-repeat;
  background-size: cover;
}

.list_box .row .col-xs-6:nth-child(3) {
  background: #F6F4FF;
}

.list_box .row .col-xs-6:nth-child(3) i::before {
  background: url("../img/icon/icon_09.jpg") no-repeat;
  background-size: cover;
}

.list_box .row .col-xs-6:nth-child(4) {
  background: #FFF9EE;
}

.list_box .row .col-xs-6:nth-child(4) i::before {
  background: url("../img/icon/icon_10.jpg") no-repeat;
  background-size: cover;
}

.list_box .row .col-xs-6:nth-child(5) {
  background: #F3FAFF;
}

.list_box .row .col-xs-6:nth-child(5) i::before {
  background: url("../img/icon/icon_13.jpg") no-repeat;
  background-size: cover;
}

.list_box .row .col-xs-6:nth-child(5) span {
  margin-left: 28px;
}

.list_box .row .col-xs-6:nth-child(6) {
  background: #F6F7F8;
}

.list_box .row .col-xs-6:nth-child(6) i::before {
  background: url("../img/icon/icon_15.jpg") no-repeat;
  background-size: cover;
}

.list_box .row > div {
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.list_box .row > div:nth-child(odd) {
  margin-right: 6%;
}

.list_box .row > div a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: #333333;
  position: relative;
}

.list_box .row > div a span {
  margin-left: 14px;
}

.list_box .row > div a i::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 5px;
  top: 14px;
  background: url("../img/icon/icon_03.jpg") no-repeat;
  background-size: cover;
  margin-right: 8px;
}

.footer_tap {
  box-shadow: 2px 2px 5px 0 rgba(153, 153, 153, 0.5);
  background: #ffffff;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 7px;
}

.footer_tap .item {
  flex: auto;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.footer_tap .item a {
  color: #666666;
  font-size: 10px;
  text-decoration: none;
}

.footer_tap .item a img {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

.footer_tap .study_btn a {
  display: block;
  height: 50px;
  margin: 0 auto;
  color: #2295E7;
  font-size: 10px;
  text-decoration: none;
}

.footer_tap a:focus,
.footer_tap a:hover {
  color: #666666;
  text-decoration: none;
}
