@charset "UTF-8";
/*
  样式规范表
*/
.again {
  background-color: #B59F87;
  color: #ffffff;
  border: none;
}

.again:focus,
.again:hover {
  color: #fff !important;
  text-decoration: none;
}

.index_header {
  padding: 12px 0;
  position: relative;
}

.index_header.body_bgcolor {
  background-color: #F5F5F5;
  border-bottom: 1px solid #cccccc;
}

.index_header .go_back {
  color: #333333;
}

.index_header .mine {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.index_header .integral {
  border-right: 1px solid #ffffff;
}

.index_header .integral div.integral_lable {
  padding: 0;
  width: 15px;
  display: block;
  line-height: 1.3;
  color: #333333;
  font-size: 12px;
}

.index_header .integral div.integral_num {
  color: #333333;
  font-size: 24px;
  padding: 0;
}

.index_header .mine_btn {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control .glyphicon {
  top: 50%;
  transform: translateY(-50%);
}

.list_box {
  margin-top: 20px;
}

.list_box .row {
  margin: 0;
}

.list_box .row > div {
  border-radius: 8px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #B59F87;
  width: 46%;
  margin-bottom: 20px;
  font-size: 16px;
}

.list_box .row > div a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.footer_tap {
  border-top: 1px solid #cccccc;
  background: #ffffff;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.footer_tap .col-xs-4 {
  font-size: 16px;
  padding: 0;
}

.footer_tap .study_btn a {
  display: block;
  height: 60px;
  margin: 0 auto;
  background: #B59F87;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.footer_tap a {
  display: inline-block;
  padding: 10px 0;
  color: #666666;
  text-decoration: none;
}

.footer_tap a:focus,
.footer_tap a:hover {
  color: #666666;
  text-decoration: none;
}
