.dynamic {

  // header
  .msg-header {
    padding: 10px 0;
    position: relative;
    font-size: 17px;
    color: #272A33;
    border-bottom: 1px solid #ECEDF0;

    .go-back {
      span {
        vertical-align: -2px;
      }
    }

    .title {
      text-align: center;
    }
  }

  // content
  .dynamic-list {
    background: #F5F5F5;
    padding-top: 15px;

    .container {

      .item {
        background-color: #fff;
        border-radius: 6px;
        padding: 15px;
        margin-bottom: 15px;
      }
    }

  }
}