@import './config.scss';

body {
    padding: 80px 0 40px 0;
    background: $colorG;
}

.form-horizontal {
    max-width: 500px;
    padding: 0 15px;
    margin: 0 auto;
}

.mgtop {
    margin-top: 80px;
}

.inputtxt {
    border: 0;
    height: 12px;
    font-size: $fontK;
    color: $colorA;
    margin-top: 6px;
}