@import './config.scss';

.over {
  .over_header {
    padding: 10px 0;
    position: relative;
    margin-bottom: 20px;

    &.body_bgcolor {
      background-color: $colorJ;
      border-bottom: 1px solid $colorE;
    }
  }

  .content {
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgb(226, 225, 225);

    .content-top {
      position: relative;
      // background-color: $colorL;
      border-radius: 6px 6px 0 0;
      padding: 10px;
      color: $colorG;
      width: 100%;
      height: 76px;
      background: url('../img/bg_03.jpg') no-repeat;
      background-size: contain;

      span {
        font-size: $fontE;
      }

      .h4 {
        margin: 0;
        font-size: 15px;
      }
    }
  }

  .desc {
    margin-top: 35px;
    font-size: $fontI;

    div {
      line-height: 40px;
    }
  }

  .btn-group {
    margin: 50px 0 25px;
    width: 100%;
  }

}