@import './config.scss';

.over {
  .over_header {
    padding: 10px 0;
    position: relative;
    margin-bottom: 20px;

    &.body_bgcolor {
      background-color: $colorJ;
      border-bottom: 1px solid $colorE;
    }
  }

  .content {
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgb(226, 225, 225);

    .content-top {
      position: relative;
      background-color: $colorL;
      border-radius: 6px 6px 0 0;
      padding: 10px;
      color: $colorG;
      height: 76px;

      span {
        font-size: $fontE;
      }

      .h4 {
        margin: 0;
        margin-bottom: 7px;


      }

      .book {
        width: 162px;
        height: 130px;
        position: absolute;
        right: 20px;
        top: 0;
        background: url('../img/over.jpg') no-repeat;
        background-size: contain;
      }
    }
  }

  .desc {
    margin-top: 55px;
    font-size: $fontI;

    div {
      line-height: 40px;
    }
  }

  .btn-group {
    margin: 50px 0 25px;
    width: 100%;
  }

}