@import './config.scss';

.index_header {
    position: relative;

    .mine {
        height: 35px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;

        img {
            display: inline-block;
            width: 26px;
        }

        a {
            letter-spacing: 0.49px;
            color: #272A33;
        }

        .header-right {
            position: relative;

            span {
                position: absolute;
                right: 0px;
                top: 2px;
                width: 8px;
                height: 8px;
                background-color: #E65558;
                color: #ffff;
                border-radius: 8px;

            }

            img {
                width: 20px;
            }
        }
    }

    .integral {
        border-right: 1px solid $colorG;

        div {
            &.integral_lable {
                padding: 0;
                width: 15px;
                display: block;
                line-height: 1.3;
                color: $colorB;
                font-size: $fontK;
            }

            &.integral_num {
                color: $colorB;
                font-size: $fontE;
                padding: 0;
            }
        }
    }

    .mine_btn {
        color: $colorB;
        font-size: $fontH;
        font-weight: 600;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

// 列表展示 
.list_box {
    margin-top: 30px;

    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .row {
        margin: 0;

        .col-xs-6 {
            width: 46%;
            background: #F3FAFF;
            border-radius: 4px;
            padding-right: 0;

            &:nth-child(2) {
                background: #F4FFFD;

                i::before {
                    background: url('../img/icon/icon_05.jpg') no-repeat;
                    background-size: cover;
                }
            }

            &:nth-child(3) {
                background: #F6F4FF;

                i::before {
                    background: url('../img/icon/icon_09.jpg') no-repeat;
                    background-size: cover;
                }
            }

            &:nth-child(4) {
                background: #FFF9EE;

                i::before {
                    background: url('../img/icon/icon_10.jpg') no-repeat;
                    background-size: cover;
                }
            }

            &:nth-child(5) {
                background: #F3FAFF;

                i::before {
                    background: url('../img/icon/icon_13.jpg') no-repeat;
                    background-size: cover;
                }

                span {
                    margin-left: 28px;
                }
            }

            &:nth-child(6) {
                background: #F6F7F8;

                i::before {
                    background: url('../img/icon/icon_15.jpg') no-repeat;
                    background-size: cover;
                }
            }
        }

        &>div {
            line-height: 50px;
            text-align: center;
            font-size: $fontI;
            // border: 1px solid $colorF;
            margin-bottom: 20px;

            &:nth-child(odd) {
                margin-right: 6%;
            }

            a {
                width: 100%;
                height: 100%;
                display: block;
                text-decoration: none;
                color: $colorB;
                position: relative;

                span {
                    margin-left: 14px;
                }

                i::before {
                    content: "";
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    left: 5px;
                    top: 14px;
                    background: url('../img/icon/icon_03.jpg') no-repeat;
                    background-size: cover;
                    margin-right: 8px;
                }
            }
        }
    }
}

// 尾部tap
.footer_tap {
    box-shadow: 2px 2px 5px 0 rgba(153, 153, 153, 0.50);
    background: $colorG;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding-top: 5px;


    .item {
        flex: auto;
        font-size: $fontI;
        display: flex;
        justify-content: center;


        a {
            color: $colorC;
            font-size: 12px;
            text-decoration: none;

            img {
                width: 24px;
                height: 24px;
            }

            span {
                padding: 0;
                margin-top: 3px;
            }
        }

    }

    .study_btn {
        a {
            display: block;
            height: 50px;
            margin: 0 auto;
            color: $colorM;
            font-size: 12px;
            text-decoration: none;
        }

    }

    a:focus,
    a:hover {
        color: $colorC;
        text-decoration: none;
    }
}